body {
    font-family:Arial, sans-serif;
  }


  img {
      width: 100%;
      
  }

  .cardContainer {
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap: 5.55vw;
    grid-column-gap: 0.3vw;
    
  }
  
  .cardWrapper{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
  }
  
  .cardFace{
    position: absolute;
    width: 100%;
    object-fit: scale-down;
    overflow: hidden;
  }
  
  .popup {
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
 
}









@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .cardContainer {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 63vw;
    }

    .cardFace {
    position: absolute;
    width: 100%;
    object-fit: scale-down;
    overflow: hidden;
  }   



  }